@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    text-shadow: none;
}
p.metadata-warning {
    text-shadow: none;
}
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.4rem;
    border-bottom: 2px solid #dce4ec;
}
h3 {
    color: #18BC9C;
    font-size: 1.1rem;   
    margin-top: 1rem;
    text-shadow: none;
}
/* page */
.main {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 16px;
}
.itemList {
    max-width: 100%;
    margin: .25em auto;
}

/* navbar */
.nav-bar {
    float:none;
    width: 100%;
    margin-top: 0;
    position: relative;
    right:0;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-wrap: wrap;
    margin-bottom: 20px;
    min-height: 6rem;
    padding: 0 1.5rem;
}
.nav-bar:after {
    content: "";
    display: block;
    clear: both;
}
.nav-item[style*=whitesmoke] {
    background-color: transparent !important;
    color: inherit !important;
}
.nav-item[style]:hover {
    border: 1px solid #18BC9C;
}
.nav-item[style*=mediumseagreen] {
    background-color: #18BC9C !important;
    color: #ffffff !important;
}
.nav-item {
    padding: 4px;
    float: left;
    padding: 0;
    cursor: pointer;
    background: #ecf0f1;
    color: rgba(102,102,102,0.85);
    transition: all .2s;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: .02em;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 21px;
    font-size: 15px;
    margin: 0.5rem;
    margin-left: -6px !important;
}

.nav-index {
    font-weight: inherit;
    margin: 0;
}
.nav-bar .nav-item + .nav-item {
    margin-left: 2rem;
}
.nav-item.footer:hover {
    color: #ffffff !important;
    background-color: #18BC9C !important;
    border-color: #18BC9C !important;
}
.nav-item:not(:last-child):hover {
    color: #ff8700;
    background-color: transparent;  
}


.metadata-text {
    font-size: 1rem;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;    
}

a.download-artefact:hover {
    color: white;
    background-color: #18BC9C;
    border: 1px solid #18BC9C;
    text-decoration: none;
}
.metadata-description {
    align-self: flex-end;
    margin: 0 10px 10px 0;
}
#step-1 > h2, #step-2 > h2, #step-3 > h2, #step-4 > h2, #step-5 > h2, #step-6 > h2, #step-7 > h2, #step-8 > h2, p.step-description {
    color: #ffffff;
    background-color: #18BC9C;
    border: none;
}


/* dialog */
h2.mew {
    background-color: #18BC9C;
}
.remodal-cancel:hover {
    background-color: #18BC9C;
    border-color: #18BC9C;
}

/* form controls */
select.metadata-text-short, p.artefact-filename, select.metadata-text, input.metadata-text-short, input.metadata-date, input.metadata-text, textarea.metadata-text {
    display: block;
    width: 100%;
    padding: 0.375em 0.75em;
    font-size: 1rem;
    line-height: 1.25;
    color: #2c3e50;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;    
    overflow: auto;
    resize: vertical;
    margin: 0;
    font-family: inherit;
}
p.metadata-text {
    border: 1px solid #ced4da;
    text-shadow: none;
}
input.metadata-date {
    display:inline-block;
    width: 8em;
}
input.metadata-text-short {
    width: 10em;
}
select.metadata-text-short:focus, p.artefact-filename:focus, select.metadata-text:focus, input.metadata-text-short:focus, input.metadata-date:focus, input.metadata-text:focus,textarea.metadata-text:focus {
    color: #2c3e50;
    background-color: #fff;
    border-color: #597ea2;
    outline: none;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.25);
}
span.taxonomy-button, a.taxonomy-button {
    height: auto;
    padding: 0 4px;
    margin: 0;
    line-height: inherit;
}
.taxonomy-button {
    margin-top: 6px;
    color: #fff;
    background-color: #18BC9C;
    border-color: #18BC9C;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.25rem;   
    height: 2.4em;
    max-height: none;
    min-height: none;
    text-decoration: none;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
a.taxonomy-button:hover, .taxonomy-button:hover {
    color: #fff;
    background-color: #149a80;
    border-color: #128f76;    
}
button, select {
    text-transform: none;
}
.nav-item.footer.cancel-button {
    float: left;
}
.footer:last-child {
    float:right;
}
 .remodal h2 {
    background-color: #18BC9C;
    border-bottom: none;
 }
 .footer {
    color: #ffffff;
    background-color: #18BC9C;
    margin: 0 0 2rem;
    max-width: 45%;
 }
 .artefact-file[deleted=true] {
      background: #E74C3C;  
 }
 .remodal h2 {
    color: #ffffff;
 }
 #final-submit-button {
    float: right;
 }
 p.metadata-text.checkbox {
    border: none;
}
tr.hover td:hover {
   border: 1px solid #18BC9C; 
}
.nav-index-final.green, .green {
    background-color: #18BC9C !important;
}
.nav-index-final {
    background-color: #ecf0f1;
}
.taxonomy-element[checked=true] {
    background-color: #18BC9C;
}
.taxonomy-element:hover {
    border: 1px solid #18BC9C;
}

::-webkit-input-placeholder {
    padding: 0.1em 0.4em;
    text-shadow: none;
    color: #18BC9C;
}
::-moz-placeholder {
    padding: 0.1em 0.4em;
    text-shadow: none;
    color: #18BC9C;
}
:-ms-input-placeholder {
    padding: 0.1em 0.4em;
    text-shadow: none;
    color: #18BC9C;
}
:-moz-placeholder {
    padding: 0.1em 0.4em;
    text-shadow: none;
    color: #18BC9C;
}
button[data-remodal-action] {
    max-width: 30%;
    overflow: hidden;
}
#step-9 > h2 {
    background-color: #18bc9c;
    border-bottom: none;
    color: #fff;
}
h3.md span > p:first-child {
  display: inline;
}
h3.md a {
    padding: 0 .25em;
    color: Black;
    background: GhostWhite;
    border: dotted 1px lightgray;
    text-decoration: none;
}
h3.md a:hover {
    color: white;
    background-color: #18bc9c;
    border: 1px solid #18bc9c;
    text-decoration: none;
}
h3.md {
    text-indent: initial;
    padding: 0;
}
h3.md ul {
   border: none; 
   margin-left: initial;
}
h3.md li {
    border: none;
    margin-left: initial;
}
h3.md pre {
    display: block;
    padding: 10px;
    margin: 0 0 10.5px;
    font-size: 14px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #7b8a8b;
    background-color: #ecf0f1;
    border: 1px solid #cccccc;
    border-radius: 4px;
}
