#whitening {
	width: 100%; 
	height: 100%;
	
	filter:alpha(opacity=85); 
	-moz-opacity:0.85; 
	-khtml-opacity: 0.85; 
	opacity: 0.85; 
	background: White; 

	position: fixed; 
	top: 0;
	left: 0; 
	z-index: 100; 
	display:none;
	cursor: pointer;
}

#loader {
    width: 100px;
    height: 100px;
    display: none;
    background: transparent; 
    position: fixed; 
    top: 42%;
    left: calc(50% - 50px); 
    z-index: 200; 
}
#loader .yellow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F39C12;
    position: absolute;
    left:0px; top:0px;
    -webkit-animation: yellow 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    animation: yellow 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
#loader .green {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #18BC9C;
    position: absolute;
    left:60px; top:0px;
    -webkit-animation: green 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    animation: green 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
#loader .red {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E74C3C;
    position: absolute;
    left:60px; top:60px;
    -webkit-animation: red 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    animation: red 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
#loader .blue {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2C3E50;
    position: absolute;
    left:0px; top:60px;
    -webkit-animation: blue 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    animation: blue 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@-webkit-keyframes yellow {
    0%   {left:0px; top:0px;}
    25%  {left:60px; top:0px;}
    50%  {left:60px; top:60px;}
    75%  {left:0px; top:60px;}
    100% {left:0px; top:0px;}
}
@-webkit-keyframes green {
    0%  {left:60px; top:0px;}
    25%  {left:60px; top:60px;}
    50%  {left:0px; top:60px;}
    75% {left:0px; top:0px;}
    100%  {left:60px; top:0px;}
}
@-webkit-keyframes red {
    0%  {left:60px; top:60px;}
    25%  {left:0px; top:60px;}
    50% {left:0px; top:0px;}
    75%  {left:60px; top:0px;}
    100%  {left:60px; top:60px;}
}
@-webkit-keyframes blue {
    0%  {left:0px; top:60px;}
    25% {left:0px; top:0px;}
    50%  {left:60px; top:0px;}
    75%  {left:60px; top:60px;}
    100%  {left:0px; top:60px;}
}

@keyframes yellow {
    0%   {left:0px; top:0px;}
    25%  {left:60px; top:0px;}
    50%  {left:60px; top:60px;}
    75%  {left:0px; top:60px;}
    100% {left:0px; top:0px;}
}
@keyframes green {
    0%  {left:60px; top:0px;}
    25%  {left:60px; top:60px;}
    50%  {left:0px; top:60px;}
    75% {left:0px; top:0px;}
    100%  {left:60px; top:0px;}
}
@keyframes red {
    0%  {left:60px; top:60px;}
    25%  {left:0px; top:60px;}
    50% {left:0px; top:0px;}
    75%  {left:60px; top:0px;}
    100%  {left:60px; top:60px;}
}
@keyframes blue {
    0%  {left:0px; top:60px;}
    25% {left:0px; top:0px;}
    50%  {left:60px; top:0px;}
    75%  {left:60px; top:60px;}
    100%  {left:0px; top:60px;}
}

#loader-info {
    font-family: Lato, Verdana, Geneva, sans-serif;
    min-width: 300px;
    height: 1.5em;
    display: none;
    background: white;
    border: 1px solid #dce4ec;
    position: fixed; 
    top: calc(50% - .75em);
    left: calc(50% - 150px); 
    z-index: 201; 
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

