/*

  *	vew.css
	Styling for VEW. See mew.js for licence and other details.

*/


* {
	box-sizing: border-box;
}


html, body {
	height: 100%;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0 0 2px LightGray;
	color: black;
	max-width: 50em;
	margin: auto;
}


.rage-logo {
	height: 1em;
	position: relative;
	top: 0.1em;	
}

.nav-bar {
	float: left;
	width: 7em;
	font-size: 1.25em;
	text-align: right;
	#padding-right: 0.5em;
	#margin-right: 0.5em;
	margin-top: 2em;
	color: gray;
	background: white;
}

@media print {
	.nav-bar, .nav-bar * {
		display: none !important;
	}
}

.nav-item {
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0.5em 0.25em 0;
	margin-bottom: 0.35em;
	background-color: ghostwhite;
	cursor: pointer;	
	border: solid 1px transparent;
}

.nav-line {
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0 0.25em 0.5em;
	margin-bottom: 0.35em;
	background: transparent;
	height: 0.5em;
}

.nav-stat{
	position: relative;
	border-radius: 0.1em;
	padding: 0.25em 0.5em 0.25em 0;
	margin-bottom: 0.35em;
	text-shadow: 0 0 2px whitesmoke;
	cursor: pointer;	
	border: solid 1px transparent;
	color: black;
}

.nav-item:hover {
	background: MediumSeaGreen;
	color: white;
}

.nav-item.dangerous:hover {
	background: Tomato;
	color: white;
}

.nav-index {
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

.nav-index-final {
	font-size: 1.15em;
	font-weight: bold;
	margin-top: 0.5em;
	background: ghostwhite;
	padding: 0.5em;
}

.nav-text {
	font-size: 0.75em;
	margin: 0;
}

.nav-text-final {
	#border: solid red 1px;
	font-size: 0.9em;
	margin: 0;
	font-weight: normal;
	padding-left: 1.6em;
}

.main {
	margin: 0 auto;
	#border-left: solid 0.5em ghostwhite;
	padding-left: 1em;
	max-width: 40em;
	display: none;
	#height: 30em;
	overflow: auto;
	padding-bottom: 2em;
}

h1 {
	text-align: center;
	font-size: 2em;
	padding: 0.25em;
	margin-bottom: 0.25em;
}

h2 {
	font-size: 1.15em;
	border-bottom: solid 2px black;
	margin-bottom: 1em;
	margin-top: 0;
}

h2.mew {
	font-size: 1.75em;
	background-color: MediumSeaGreen;
	color: white;
	border-bottom: solid 1px ghostwhite;
	padding: 0.25em 0.5em;
	margin-bottom: 0;
	margin-top: 0;
}

h3 {
	font-size: 1em;
	font-weight: normal;
	color: MediumSeaGreen;
	margin-bottom: 0;
	margin-top: 1em;
	text-indent:-2em;
	padding-left:2em;
	word-wrap: break-word;
}

h3::first-letter {
	text-transform: uppercase;
}

.metadata-text {
	font-size: 1em;
	text-shadow: 0 0 2px lightgray;
	color: black;
}

.normal-indent {
	text-indent:0em;
	padding-left:0em;
}

li {
	margin-left: -1em;
	border: solid red 1px;
}

ul {
	margin-left: -2em;
	border: solid green 1px;
}




















h4 {
	#color: MediumSeaGreen;
	text-shadow: 0 0 2px azure;
	margin-bottom: 0;
	margin-top: 1em;
}

.triangle-down {
	display: block;
	width: 1em;
	height: 1em;
	background-color: ghostwhite;
	position: relative;
	top: -1.2em;
	left: 5em;
	box-shadow: 1px 1px 3px 0px red;
	margin-bottom: -1em;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
	
p.metadata-description, li.metadata-description, span.metadata-description {
	font-size: 90%;
	margin: 0.2em 0;
}

p.step-description {
	background-color: MediumSeaGreen;
	color: white;
	padding: 0.25em 0.5em;
	font-size: 100%;
	margin: 0;
}

p.metadata-rage-partners {
	font-size: 75%;
	margin: 0;
	color: lightgray;
	text-shadow: none;
}
p.metadata-rage-partners:before {
	content: 'Note: ';
	font-weight: bold;
}

/*span.ui-selectmenu-button {
	display: block;
	width: 100% !important;
	background-color: white !important;
	font-size: 1.25em;
	padding: 0.2em 0.4em;
	text-shadow: 0 0 2px lightgray;
	border-radius: 0.1em;
	border: solid 1px gray;
}*/


input.metadata-date {
	display: inline-block;
	width: 7em;
	font-size: 1.25em;
	padding: 0.2em 0.4em;
	text-shadow: 0 0 2px lightgray;
	border-radius: 0.1em;
	border: solid 1px gray;
}

p.metadata-warning {
	font-size: 90%;
	margin-top: 0;
	color: tomato;
	text-shadow: 0 0 2px pink;
}

img.ui-datepicker-trigger {
	display: inline-block;
	position: relative;
	height:2em;
	margin-left: 0.5em;
	top: 0.7em;
	cursor: pointer;
}

.metadata-attributes {
	font-weight: normal;
}

.taxonomy-button {
	display: inline-block;
	font-size: 1.15em;
	background-color: MediumSeaGreen;
	color: white;
	border-bottom: solid 1px ghostwhite;
	text-shadow: none;
	padding: 0.25em 0.5em;
	margin: 0 auto;
	text-align: center;
	#width: 10em;
	height: 1.75em;
	max-height: 1.75em;
	min-height: 1.75em;
}

.green {
	background-color: MediumSeaGreen;
	color: white;
	text-shadow: none;
}

tr.hover td {
	cursor: pointer;
	border: solid 1px transparent;
}

tr.hover td:hover {
	border: solid 1px MediumSeaGreen;
}

td div.taxonomy-name {
	margin-top: 1em;
	font-size: 1.25em;
	font-weight: bold;
	background-color: ghostwhite;
	padding: 0.5em;
	cursor: pointer;
}

.taxonomy-container {
	display: none;
	max-height: 12em;
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid 1px gray;
}

.taxonomy-container {
	display: none;
}

.taxonomy-element {
	font-size: 1em;
	border: solid 1px transparent;
	cursor: pointer;
	padding: 0.25em;
	margin-bottom: 0.1em;
	background-color: ghostwhite;
}

.taxonomy-element:hover {
	border: solid 1px MediumSeaGreen;
}

.taxonomy-element[checked=true] {
	background-color: MediumSeaGreen;
	color: white;
}

.taxonomy-button {
	font-size: 90%;
	#display: inline;
	background-color: MediumSeaGreen;
	color: white;
	cursor: pointer;
}

.embedded-button {
	font-size: 80%;
	display: inline;
	background-color: MediumSeaGreen;
	color: white;
	cursor: pointer;
	padding: 0.1em 0.2em;
}

.footer {
	font-size: 1.25em;
	display: inline-block;
	float: right;
	background-color: MediumSeaGreen;
	color: white;
	cursor: pointer;
	text-shadow: none;
	padding: 0.5em;
}

.nav-stat-final {
	display: inline-block;
	float: right;
	text-align: right;
	position: relative;
	top: -0.2em;
	left: 0.2em;
	opacity: 0.75;
	text-shadow: none;
}
.nav-stat-final .percentage {
	display: block;
	font-size: 80%;
}
.nav-stat-final .text {
	display: block;
	font-size: 40%;
	font-weight: normal;
}

.contact-person {
	#margin-left: 4em;
	padding: 0.5em;
	background: ghostwhite;
	margin-bottom: 2px;
}


.contact-person h4{
	font-size: 90%;
	margin-top: 0em;
	padding: 0em;
}

.main-icon {
	height: 2em;
	vertical-align: middle;
	margin-left: 0;
	
}

.contact-person td {
	vertical-align: top;
}

.contact-person img {
	height: 2em;
	vertical-align: middle;
	margin: 1em 0.25em 0 0;
}

.contact-person p {
	font-size: 90%;
	margin: 0;
	padding: 0;
}

.contact-remove {
	position: relative;
	left: -0.15em;
	cursor: pointer;
	margin: 1.7em 0 0 0;
	text-align: center;
	border-radius: 0.3em;
	font-size: 50%;
	font-weight: bold;
	text-shadow: none;
	padding: 0.3em 0.1em;
}

.contact-remove img {
	height: 2em;
	padding: 0 0 0 0.2em;
	margin: 0;
	font-size: 1.5em;
}

.contact-remove:hover {
	#color: White;
	background: Tomato;
}

.relation-box {
	border: solid lightgray 1px;
	border-radius: 0.1em;
	padding: 0.3em;
	background: ghostwhite;
}
.relation-box  h4 {
	margin: 0;
	padding: 0;
	border-bottom: solid 1px lightgray;
}

.artefact-file {
	width:100%;
	display: none;
	padding: 0.25em 0.5em;
	background: ghostwhite;
	margin-bottom: 2px;
	overflow: auto;
}

.artefact-file td {
	vertical-align: top;
}

.artefact-remove {
	display: block;
	position: relative;
	top: -0.65em;
	cursor: pointer;
	margin: 0;
	text-align: center;
	border-radius: 0.3em;
	font-size: 50%;
	font-weight: bold;
	text-shadow: none;
	padding: 0.3em 0.1em;
	text-decoration: none;
}

.artefact-remove img {
	height: 2em;
	padding: 0 0 0 0.2em;
	margin: 0;
	font-size: 1.5em;
}

.artefact-remove:hover {
	#color: White;
	background: Tomato;
}

.artefact-description {
	font-size: 75%;
	margin: 0;
	padding: 0;
}

p.artefact-filename {
	display: block;
	#width: calc(100% - 8em);
	font-size: 1.25em;
	padding: 0.2em 0.4em;
	text-shadow: 0 0 2px lightgray;
	border-radius: 0.1em;
	border: solid 1px gray;
	margin: 0;
	background: white;
}

.artefact-format, .artefact-date, .artefact-size {
	font-weight: bold;
	padding-right: 1em;
}

input.artefact-local-path {
	#position: relative;
	#top: -0.25em;
	#margin: 0;
	#padding: 0 0.1em;
	#font-size: 70%;
	#height: 2em;
	#min-height: 2em;
	#max-height: 2em;
} 

.nav-submit-caption {
	padding: 0.5em;
	font-weight: bold;
	font-size: 1em;
}

.nav-submit-text {
	padding: 0.5em;
	font-weight: normal;
	font-size: 1em;
	background: GhostWhite;
}

.remodal-subtext {
	display: block;
	font-size: 70%;
}

.back-button, .cancel-button {
	float:left;
	display:none;
}
[ro] {display:inherited;}
[rw] {display:none;}
[rwi] {display:none;}

a.download-artefact {
	padding: 0em 0.25em;
	color: Black;
	background: GhostWhite;
	border: dotted 1px lightgray;
	text-decoration: none;
}

a.download-artefact:hover {
	color: white;
	background-color: MediumSeaGreen;
	border: 1px solid MediumSeaGreen;
	text-decoration: none;
}

.artefact-logo {
	display: none;
	float: right;
	max-width: 16em;
	max-height: 8em;
	padding: 0.25em;
	border: solid 1px lightgray;
	margin: 0 0 0.25em 0.25em;
}
